:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #e8ca46;
    --colorPrimary200: #d3b23e;
    --colorPrimary100: #f2ebbc;
    --colorNav: rgba(113, 113, 113, 0.404);

    --colorPrimaryBack: rgba(158, 142, 245, 0.315);
    --colorPrimary50: #cacaecb2;
}