h1 {
    font-size: 48px;
    margin: 0;
}
h1 {
    @include regular {
        font-size: 64px;
    }
    @include small {
        font-size: 52px;
    }
    @include mobile {
        font-size: 46px;
        text-align: center;
    }
}
h2 {
    @include regular {
        font-size: 36px;
    }
    
    @include small {
        font-size: 28px;
    }
    @include mobile {
        font-size: 24px;
    }
}

h3 {
    @include regular {
        font-size: 32px;
    }
    @include small {
        font-size: 24px;
    }
    @include mobile {
        font-size: 21px;
    }
}

h4 {
    @include regular {
        font-size: 26px;
    }
    @include small {
        font-size: 21px;
    }
    @include mobile {
        font-size: 18px;
    }
}

h5 {
    @include regular {
        font-size: 21px;
    }
    @include small {
        font-size: 18px;
    }
    @include mobile {
        font-size: 16px;
    }
}