// Import helpers files
@import 'helpers/colors.scss';
@import 'helpers/medias.scss';
@import 'helpers/misc.scss';
@import 'helpers/spaces.scss';
@import 'helpers/fonts.scss';
@import 'helpers/reset.scss';
@import 'helpers/images.scss';

// Import components style files
@import './header.scss';
@import './components/burger-menu.scss';
@import './components/button.scss';
@import './components/landing-page.scss';
@import './components/footer.scss';
@import './components/presentation-section.scss';
@import './components/frame-presentation.scss';
@import './components/rooms-preview-section.scss';


@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


@font-face{
  font-family : "Great-Vibes";
  src : url('../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf');
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Spectral';
}

.text-clip {
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-break {
  word-break: break-word;
}

button {
    background: none;
    text-decoration: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--colorWhite); 
}

html::-webkit-scrollbar-thumb {
  background: var(--colorMainBlack); 
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great-Vibes';
}

.App {
  min-height: 100vh;
  background-color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

}
